@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

// i{
    // position: relative;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    // animation: action 1s infinite ;
    // animation-delay: 2s;
// }
// @keyframes action{
//     100%{transform: rotate(360deg);}
// }

// .box{
//     width: 300px;
//     height: 300px;
//     background-color: red;
//     clip-path: circle(53.4% at 28% 0);


// }








// .box{
//     position: relative;
//     width: 100px;
//     height: 100px;
//     background-color: red;
//     // animation-name: action; //adi
//     // animation-duration: 2s; //erzinde
//     // animation-iteration-count: infinite; //sayi
//     animation: action 5s infinite;

// }

// @keyframes action { //animasiyanin cagirilmasi
//     // from{left: 0;}
//     // to{left: 200px;}

//     0%,100%{
//         transform: rotate(10deg);
//         left: 0;
//         top: 0;
//         background-color: red;
//     }
//     25%{
//         transform: rotate(100deg);
//         left: 300px;
//         top: 0;
//         background-color: yellow; 
//     }
//     50%{
//         transform: rotate(200deg);
//         left: 300px;
//         top: 300px;
//         background-color: green; 
//     }
//     75%{
//         transform: rotate(300deg);
//         left: 0px;
//         top: 300px;
//         background-color: blue; 
//     }
  
// }