header {
  width: 100%;
  height: 100px;
  background-color: black;
}

header .logo h1 {
  padding-top: 10px;
  color: aqua;
}

header * {
  display: inline-block;
}

header nav ul li a {
  color: #fff;
  margin-left: 200px;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  /* text-transform: capitalize; */
}
