.hero{
    width: 100%;
    height: 90vh;
    background-image: url('../img/unsplash.jpg');
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
    background-size: cover;
    background-position: center;
    .hero-bg{
        width: 100%;
        height: 90vh;
        background-color: rgba($color: #000000, $alpha: .5);
        @include center();
        .hero-text{
            background-color: rgba($color: #000000, $alpha: .5);
            border-radius: 30px;
            padding: 10px;
            width: 50%;
            @include center();
            flex-direction: column;
            h1{
                color: #fff;
                font-size: 70px;
                font-family: sans-serif;
            }
            p{
                color: #fff;
                text-align: center;
            }
        }
      
    }
}