@mixin between{
        display: flex;
        align-items: center;
        justify-content: space-between;
}

@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}